<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/adminUsuario.css">
</head>

<body>
    <aside class="sidebar">
        <h1 class="logo">Core Tech</h1>

        <nav>
            <ul>
                <li><a href="admin.html">Home</a></li>
                <li><a href="adminProduto.html">Produtos</a></li>
                <li><a href="adminUsuario.html">Usuários</a></li>
            </ul>
        </nav>
    </aside>

    <section class="usuarios-container">

        <header class="page-header">
            <h1>Gerenciamento de Usuários</h1>
            <p>Pesquisar e editar usuários cadastrados</p>
        </header>

        <article class="search-card">
            <h2>Pesquisar Usuário</h2>

            <div class="search-area">
                <input type="email" id="email-pesquisa" placeholder="Digite o email">

                <button id="btn-pesquisar">
                    Pesquisar
                </button>
            </div>
        </article>

        <article class="dados-card">

            <h2>Dados do Usuário</h2>

            <div class="dados-grid">

                <div>
                    <span>Nome</span>
                    <p id="usuario-nome">-</p>
                </div>

                <div>
                    <span>Email</span>
                    <p id="usuario-email">-</p>
                </div>

                <div>
                    <span>Perfil</span>
                    <p id="usuario-role">-</p>
                </div>

                <div>
                    <span>ID</span>
                    <p id="usuario-id">-</p>
                </div>

            </div>

        </article>

        <article class="editar-card">

            <h2>Editar Usuário</h2>

            <form id="form-editar">

                <label>
                    Nome
                </label>

                <input type="text" id="editar-nome">

                <label>
                    Email
                </label>

                <input type="email" id="editar-email">

                <button type="submit">
                    Salvar Alterações
                </button>

            </form>

        </article>

    </section>
</body>

</html>