<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Core Tech Admin</title>
    <link rel="stylesheet" href="../static/css/admin.css">
</head>

<body>

    <aside class="sidebar">
        <h1 class="logo">Core Tech</h1>

        <nav>
            <ul>
                <li><a href="admin.html">Home</a></li>
                <li><a href="adminProduto.html">Produtos</a></li>
                <li><a href="adminUsuario.html">Usuários</a></li>
            </ul>
        </nav>
    </aside>

    <main class="dashboard">

        <section class="admin-card">
            <h2>Administrador Logado</h2>

            <div class="admin-info">
                <p id="admin-nome"></p>
                <p id="admin-email"></p>
            </div>
        </section>

        <section class="stats">

            <article class="card">
                <h3>Contas</h3>
                <span id="usuarios">124</span>
            </article>

            <article class="card">
                <h3>Produtos</h3>
                <span id="produtos">58</span>
            </article>

            <article class="card">
                <h3>Categorias</h3>
                <span id="categorias">12</span>
            </article>

            <article class="card">
                <h3>Visitas Diárias</h3>
                <span id="visitas">1.382</span>
            </article>

        </section>


    </main>

    <script src="admin.js"></script>
</body>

</html>