<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo - CORE TECH</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="../css/catalogo.css">
    <link rel="stylesheet" href="../css/footer.css">

</head>

<body>

<header>
    <nav>

        <div class="menu-btn">
            <i class="fa-solid fa-bars"></i>
        </div>

        <h2 class="logo">
            <a href="../index.html">CORE TECH</a>
        </h2>

        <ul class="menu">
            <li><a href="catalogo.html">Catálogo</a></li>
            <li><a href="about.html">Sobre nós</a></li>
            <li><a href="https://wa.me/5544920011084" target="_blank">Contato</a></li>
        </ul>

        <hr id="nav-line">

    </nav>
</header>

<main>

    <div class="hero-catalogo">
        <img src="../imagens/banner.webp" alt="imagem do catálogo" class="catalogo-image">
    </div>



    <section>
        <div class="titulo">
            <div class="linha"></div>

            <h2>Categorias</h2>
            <div class="linha"></div>
        </div>
        <div class="categorias">
            <div id="articulados">
                <a href="produtos.html?categoria=articulado" class="animation">
                    <img src="../imagens/gato.webp" alt="categoria de articulados" class="categoria-image">
                    <h3>Articulados</h3>
                </a>
            </div>
            <div id="agro">
                <a href="produtos.html?categoria=agro" class="animation">
                    <img src="../imagens/gato.webp" alt="categoria de agro" class="categoria-image">
                    <h3>Agro</h3>
                </a>
            </div>
            <div id="funkopop">
                <a href="produtos.html?categoria=funkopop" class="animation">
                    <img src="../imagens/gato.webp" alt="categoria de funkopop" class="categoria-image">
                    <h3>Funko Pop</h3>
                </a>
            </div>
            <div id="suportes">
                <a href="produtos.html?categoria=suporte" class="animation">
                    <img src="../imagens/gato.webp" alt="categoria de suportes" class="categoria-image">
                    <h3>Suportes</h3>
                </a>
            </div>
            <div id="minimalistas">
                <a href="produtos.html?categoria=minimalista" class="animation">
                    <img src="../imagens/gato.webp" alt="categoria de minimalistas" class="categoria-image">
                    <h3>Minimalistas</h3>
                </a>
            </div>
            <div id="chaveiros">
                <a href="produtos.html?categoria=chaveiro" class="animation">
                    <img src="../imagens/gato.webp" alt="categoria de chaveiros" class="categoria-image">
                    <h3>Chaveiros</h3>
                </a>
            </div>

        </div>
    </section>

    <section>
        <div class="container">
            <img src="../imagens/banner2.webp" alt="imagem do catálogo" class="catalogo-image">

            <div class="sombra"></div>

            <div class="produtos-mais-vendidos">

                <div id="produto1">
                    <a href="produto.html?id=1" class="animation">
                        <img src="../imagens/gato.webp" alt="Produto mais vendido">
                        <p>Border collie</p>
                    </a>
                </div>

                <div id="produto2">
                    <a href="produto.html?id=2" class="animation">
                        <img src="../imagens/gato.webp" alt="Produto mais vendido">
                        <p>Shiba inu</p>
                    </a>
                </div>

                <div id="produto3">
                    <a href="produto.html?id=3" class="animation">
                        <img src="../imagens/gato.webp" alt="Produto mais vendido">
                        <p>Gato</p>
                    </a>
                </div>
            </div>

        </div>

    </section>

    <section>
        <div class="titulo2">
            <div class="linha"></div>

            <h2>Outros</h2>

            <div class="linha"></div>
        </div>

        <div class="outros-produtos">


    </section>
</main>

<footer class="footer" id="footer">

    <div class="footer-glow"></div>

    <section class="footer-content">

        <div class="footer-brand">

            <h2>CORE TECH</h2>

            <p>
                Tecnologia, precisão e criatividade
                transformando ideias em peças reais
                através da impressão 3D.
            </p>

            <div class="footer-social">

                <a href="https://www.instagram.com/field_bots/" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="https://wa.me/5544920011084" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>

                <a href="#">
                    <i class="fa-brands fa-github"></i>
                </a>

            </div>

        </div>

        <div class="footer-links">

            <h4>Navegação</h4>

            <a href="catalogo.html">Catálogo</a>
            <a href="produtos.html?categoria=todos">Produtos</a>
            <a href="about.html">Sobre Nós</a>
            <a href="https://wa.me/5544920011084" target="_blank">Contato</a>

        </div>

        <div class="footer-links">

            <h4>Categorias</h4>

            <a href="produtos.html?categoria=articulado">Articulados</a>
            <a href="produtos.html?categoria=minimalista">Minimalistas</a>
            <a href="produtos.html?categoria=chaveiro">Chaveiros</a>
            <a href="produtos.html?categoria=suporte">Suportes</a>

        </div>

        <div class="footer-contact">

            <h4>Contato</h4>

            <p>coretechofc@gmail.com</p>
            <p>(44) 92001-1084</p>
            <p>Paraná, Brasil</p>

        </div>

    </section>

    <hr class="footer-line">

    <div class="footer-bottom">

        <p>
            © 2026 Core Tech — Todos os direitos reservados.
        </p>

        <p>
            Desenvolvido Por Luiz Amaro.
        </p>

    </div>

</footer>
<script type="module" src="../js/produtoAleatorioCatalogo.js"></script>
<script src="../js/catalogo.js"></script>
<script src="../js/navbar.js"></script>
</body>

</html>